/* Global Rules */

:root {
    --main-color: #19C8FA;
    --transparent-color: rgba(15, 116, 143, 0.7);
    --desc-color: #777;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.pd-y {
    padding-top: 80px;
    padding-bottom: 80px;
}

.overlay {
    background-color: rgba(1, 1, 1, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

a,
button,
input[type="submit"] {
    transition: opacity .5s;
}

a:hover,
button:hover,
input[type="submit"]:hover {
    opacity: .8;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Component */

.box-header {
    padding-bottom: 80px;
    text-align: center;
}

.box-header-title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    padding-bottom: 30px;
}

.box-header-title::before {
    content: "";
    width: 120px;
    height: 2px;
    position: absolute;
    background-color: #333;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.box-header-title::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    background-color: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.box-header-desc {
    color: var(--desc-color);
    width: 40%;
    display: inline-block;
    line-height: 2;
    padding-top: 12px;
}

@media (max-width: 767px) {
    .box-header-desc {
        width: 95%;
    }
}

/* Header */

.header {
    background-image: url(../images/landing.jpg);
    background-color: #1D1F21;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff7c;
    min-height: 97px;
    /* position: relative;
    z-index: 999; */
}

.header .logo img {
    height: 40px;
}

.header .nav-items {
    display: flex;
    align-items: center;
}

.header .nav-items .toggle-menu {
    color: #fff;
    cursor: pointer;
    transition: color .5s;
}

@media (min-width: 768px) {
    .header .nav-items .toggle-menu {
        display: none;
    }
}

.header .nav-items-list {
    display: flex;
    z-index: 999;
}

@media (max-width: 767px) {
    .header .nav-items-list {
        display: none;
    }

    .header .nav-items .toggle-menu:hover {
        color: var(--main-color);
    }

    .header .nav-items .toggle-menu:hover+.nav-items-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(1, 1, 1, 0.9);
        position: absolute;
        top: 97px;
        left: 0;
    }

    .header .nav-items .toggle-menu:hover+.nav-items-list li a {
        padding: 15px;
        width: 100%;
    }
}

.header .nav-items-list li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 40px 15px;
    text-transform: capitalize;
    font-size: 14px;
    transition: color .5s;
    position: relative;
}

.header .nav-items-list li a:hover,
.header .nav-items-list li a.active,
.header .nav-items-search-icon:hover {
    color: var(--main-color);
}

.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    bottom: -1px;
    left: 0;
}

.header .nav-items-list li a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    bottom: -1px;
    left: 0;
}

.header .nav-items-search-icon {
    color: #fff;
    border-left: 1px solid #fff;
    padding: 5px 0 5px 15px;
    margin-left: 20px;
    cursor: pointer;
    transition: color .5s;
}

.header-card {
    width: 50%;
    background-color: var(--transparent-color);
    color: #fff;
    padding: 2% 5% 4% 9%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .header-card {
        width: 100%;
        padding: 12%;
    }
}

.header-card-title {
    font-weight: 400;
}

.header-card-desc {
    font-size: 14px;
    line-height: 2;
}

.header-circles-items {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.header-circles-items .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 3px;
    display: inline-block;
}

.header-circles-items .circle:nth-child(2) {
    background-color: var(--main-color);
    border-color: #19C8FA;
}

.header-left-icon,
.header-right-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
}

.header-left-icon {
    left: 30px;
}

.header-right-icon {
    right: 30px;
}

@media (max-width: 767px) {

    .header-left-icon,
    .header-right-icon {
        display: none;
    }
}

/* Services */

.service-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 30px;
}

.service-container .service-items {
    display: flex;
}

.service-container .service-items-icon {
    padding-right: 50px;
}

@media (max-width: 767px) {
    .service-container {
        grid-template-columns: 1fr;
    }

    .service-container .service-items {
        flex-direction: column;
        text-align: center;
    }

    .service-container .service-items-icon {
        padding: 30px 0 !important;
    }
}

.service-container .service-items-text-title {
    color: var(--main-color);
    margin-bottom: 30px;
}

.service-container .service-items-text-desc {
    color: var(--desc-color);
    line-height: 2;
}

/* Design */

.design {
    position: relative;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: right;
}

.design-card {
    width: 54%;
    background-color: var(--transparent-color);
    color: #fff;
    padding: 5% 4%;
    position: relative;
}

@media (max-width: 767px) {
    .design-card {
        width: 100%;
        padding: 12%;
    }
}

.design-card-title {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.design-card-list li:not(.design-card-list li:last-child) {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.design-card-list li svg {
    margin-right: 15px;
}

.design-mobile-img {
    position: absolute;
    bottom: -80px;
    left: 110px;
}

@media (max-width: 992px) {
    .design-mobile-img {
        display: none;
    }

    .design-card {
        width: 100%;
    }
}

/* Portfolio */

.portfolio .filter-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .filter-list li {
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px;
    transition: background-color .5s, color .5s;
}

.portfolio .filter-list li:first-child,
.portfolio .filter-list li:hover {
    background-color: var(--main-color);
    color: #fff;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio-img-holder {
    width: 25%;
    margin-bottom: 1px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

@media (max-width: 1200px) {
    .portfolio-img-holder {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .portfolio-img-holder {
        width: 100%;
    }
}

.portfolio-img-holder img {
    transition: transform .5s;
    width: 100%;
}

.portfolio-img-holder:hover img {
    transform: rotate(3deg) scale(1.1);
}

.portfolio-img-holder:hover .caption {
    visibility: visible;
    opacity: 1;
    bottom: 0;
}

.portfolio-img-holder .caption {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s, bottom .5s;
}

.portfolio-img-holder .caption .subtitle {
    color: var(--main-color);
    padding-top: 10px;
}

.portfolio-images+a {
    text-transform: uppercase;
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    width: fit-content;
    display: block;
    margin: 30px auto;
}

/* Video */

.video {
    position: relative;
    height: 100vh;
}

.video-tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-card {
    width: 100%;
    background-color: var(--transparent-color);
    color: #fff;
    padding: 4.5% 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}

.video-card-title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
}

.video-card-desc {
    text-transform: capitalize;
    padding-top: 30px;
    padding-bottom: 40px;
}

.video-card-btn {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #000;
}

/* About */

.about {
    padding-top: 80px;
    overflow: hidden;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    left: 47%;
    transform: translateX(-50%);
    max-width: 100%;
}

@media (max-width: 767px) {
    .about img {
        bottom: -70px;
    }
}

/* Statistics */

.statics {
    position: relative;
    background-image: url(../images/stats.png);
    background-size: cover;
    text-align: center;
}

.statics .overlay {
    background-color: rgba(1, 1, 1, 0.7);
}

.statics .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.statics-card-items {
    padding: 50px;
    background-color: var(--transparent-color);
    color: #fff;
}

@media (max-width: 767px) {
    .statics-card-items {
        flex-basis: 100%;
    }

    .statics-card-items:not(:last-child) {
        border-bottom: 1px solid #000;
    }
}

@media (min-width: 768px) {
    .statics-card-items {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .statics-card-items {
        flex-basis: 25%;
    }
}

.statics-card-items .icon {
    background-color: #000;
    padding: 12px;
    border-radius: 50%;
}

.statics-card-items-title {
    font-size: 50px;
}

.statics-card-items-subtitle {
    font-size: 14px;
    margin-top: -10px;
}

/* Testimonials & Skills */

.testimonials,
.skills {
    width: 45%;
}

.testimonials-skills .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .testimonials-skills .container {
        flex-direction: column;
    }

    .testimonials,
    .skills {
        width: 100%;
    }
}

/* Testimonials */

.text {
    text-align: center;
    margin-bottom: 30px;
}

.text-title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}

.text-desc {
    color: var(--desc-color);
    line-height: 2;
    padding: 30px 0;
}

.testimonials-team {
    margin-bottom: 20px;
}

.testimonials-team-card {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.testimonials-team-card img {
    width: 100px;
    /* height: 100px; */
    border-radius: 50%;
    margin-right: 50px;
}

@media (max-width: 767px) {
    .testimonials-team-card {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .testimonials-team-card img {
        margin: 0 0 20px 0;
    }
}

.testimonials-team-card-text {
    line-height: 1.7;
    border-bottom: 1px solid #ddd;
}

.testimonials-team-card-text .caption {
    text-align: right;
    color: var(--desc-color);
    font-size: 14px;
    margin-bottom: 12px;
}

.testimonials-circles-items {
    text-align: center;
}

.testimonials-circles-items .circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #aaa;
    margin: 3px;
    display: inline-block;
}

@media (max-width:992px) {
    .testimonials-circles-items {
        margin-bottom: 40px;
    }
}

.testimonials-circles-items .circle:nth-child(2) {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

/* Skills */

.skills-progress-item {
    margin-bottom: 40px;
}

.skills-progress-item .title {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.skills-progress-item .line {
    height: 30px;
    width: 100%;
    background-color: #DEDADC;
    position: relative;
}

.skills-progress-item .line-percent {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
}

.skills-progress-item .line-percent::before {
    content: attr(data-progress);
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    right: -20px;
    top: -40px;
}

.skills-progress-item .line-percent::after {
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    right: -6px;
    top: -12px;
}

/* Quotes */

.quote {
    background-image: url(../images/quote.jpg);
    position: relative;
    background-size: cover;
}

.quote .overlay {
    background-color: rgba(1, 1, 1, 0.8);
}

.quote .container {
    text-align: center;
    position: relative;
    color: #fff;
}

.quote-text {
    font-size: 30px;
}

.quote-text+p {
    margin-top: 20px;
}

/* Pricing */

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
    gap: 30px;
}

.pricing-items {
    background-color: #FCFCFC;
    text-align: center;
}

.pricing-items-header {
    border-top: 1px solid var(--main-color);
    padding: 40px 0;
}

.pricing-items-header-title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}

.pricing-items-header-total {
    font-size: 60px;
    position: relative;
    margin: unset;
}

.pricing-items-header-total::before {
    content: "$";
    position: absolute;
    top: -5px;
    left: 70px;
    font-size: 25px;
    font-weight: normal;
}

.pricing-items-header-total::after {
    content: "/Mo";
    position: absolute;
    bottom: 10px;
    right: 45px;
    font-size: 20px;
}

.pricing-items ul {
    text-transform: capitalize;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing-items ul li {
    width: 55%;
    margin: auto;
    padding: 20px 0;
}

.pricing-items ul li:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}

.pricing-items a {
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    padding: 20px;
    border: 1px solid var(--main-color);
    margin: 30px 0;
}

.pricing-footer {
    margin: 50px 0;
    text-align: center;
}

.pricing-footer .contact-text {
    font-size: 20px;
    margin-bottom: 20px;
}

.pricing-footer .contact-btn {
    background-color: var(--main-color);
    color: #fff;
    text-transform: capitalize;
    padding: 15px 30px;
    border: 0;
    cursor: pointer;
}

/* Subscribe */

.subscribe {
    background-image: url(../images/subscribe.jpg);
    position: relative;
    background-size: cover;
}

.subscribe .container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.subscribe form {
    width: 450px;
    max-width: 100%;
    position: relative;
}

.subscribe form::before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
}

.subscribe form input[type="email"] {
    border: 1px solid #fff;
    padding: 20px 20px 20px 60px;
    background-color: transparent;
    outline: 0;
    color: #fff;
    width: 100%;
}

.subscribe form input[type="email"]::placeholder {
    color: #fff;
}

.subscribe form input[type="submit"] {
    padding: 20px 23px;
    color: #fff;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: 1px solid #fff;
    border-left: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.subscribe .container p {
    width: 650px;
    max-width: 100%;
    color: #fff;
    line-height: 2;
}

@media (max-width: 991px) {
    .subscribe .container p {
        margin-top: 20px;
    }
}

/* Contact */

.contact-content {
    display: flex;
}

@media (max-width: 767px) {
    .contact-content {
        flex-direction: column-reverse;
        text-align: center;
    }
}

.contact-content form {
    width: 70%;
}

@media (max-width: 767px) {
    .contact-content form {
        width: 100%;
        margin-top: 40px;
    }
}

.contact-content form input:not([type="submit"]),
.contact-content form textarea {
    display: block;
    padding: 20px;
    width: 100%;
    border: 1px solid #ccc;
    outline: 0;
    margin-bottom: 30px;
}

.contact-content form textarea {
    resize: vertical;
}

.contact-content form input[type="submit"] {
    background-color: var(--main-color);
    padding: 20px;
    color: #fff;
    outline: 0;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.contact-info {
    margin-left: 60px;
}

@media (max-width: 767px) {
    .contact-info {
        margin-left: 0;
    }
}

.contact-info-title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-info-phone {
    color: var(--desc-color);
    line-height: 2;
    font-style: italic;
}

.contact-info-one {
    margin-bottom: 70px;
}